<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @feed.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @feed.end %>
</p>

<p>
  <strong>Breast:</strong>
  <%= @feed.breast %>
</p>

<p>
  <strong>Time:</strong>
  <%= @feed.time %>
</p>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
